
.Rhistory
.RData
.RDataTmp
.Rproj.user/

*.utf8.md
*.knit.md
*.nb.html
*.Rmd~
*_cache/
cache/

data/
datasets/
*.csv
*.tsv
*.xlsx
*.xls
*.rds
*.sav
*.zip
*.json
*.feather
*.parquet
*.pptx


*.bak
*.tmp
*~  

# VSCode、RStudio
.vscode/
*.code-workspace
